<html>
  <head>
    <meta charset='UTF-8'>
    <title>Xylem</title>
    <link href="/static/style.css" rel="stylesheet">
  </head>
  <body class="{{index_class}}">
    <div class="navbar">
      {{navbar}}
    </div>
    <div class="page_content">
      {{content}}
    </div>
  </body>
  <script>
  /////////////////////////////
  /// Navigation Menu Stuff ///
  /////////////////////////////

  var nav_menu_links = document.getElementsByClassName("nav_menu_link");

  for (var i = 0; i < nav_menu_links.length; i++) {
    nav_menu_links[i].addEventListener("click", function() {
      this.parentElement.querySelector(".nav_menu_items").classList.toggle("open");
    });
  }
  </script>
<html>
